canvas{
  /*filter: blur(1px);*/
}
body, html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background-color: black;
  /*background-image: url('https://external-preview.redd.it/Tf2MC-orVRAI8OL5tjyF4k4H2Q6QLHTWllekGfqdt3c.png?width=960&crop=smart&auto=webp&s=be4ab9a2fa3ca2f7011799377f118a8dbc64aacb');*/
  /*background-size: cover;*/
} 