.cs-greybackground{
    background: #0707077a;
}


.content-box {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.post {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 11rem;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
    text-align: left;

    &:hover {
        transform: translate(0px, -8px);
        box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
    }

    .post-thumbnail {
        width: 30%;
        max-width: 100%;
        cursor: pointer;
        object-fit:cover;
        min-height: 11rem;
        background-size: cover;
        background-position: 50% 50%;
    }

    .post-content {
        padding: 1rem;
        width: 70%;

        .post-date,
        .post-words {
            font-size: 12px;
        }

        .post-title-cs {
            margin: 0 0 10px;
            font-size: 30px;
            font-weight: 400;

            a {
                font-family: 'PT Serif', serif;
                text-decoration: none;
                color: #b26500;
            }
        }

        .post-tag {
          font-size: 15px;
          color:#767575;
          
        }

        p {
            margin-top: 0;
        }
    }
}

.post,
.article-page {
    background-color: #ffffffc0;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .post {
        width: 100%;
        max-width: 100%;
        margin: 4% 0.9% 1.5%;
        flex-direction: column;

        .post-thumbnail {
            width: 100%;
        }

        .post-content {
            width: 100%;

            .post-title-cs {
                margin: 0 0 5px;

                a {
                    font-size: 21px;
                }
            }
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .sidebar {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        background-color: #ffffff;
        box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);

        footer {
            margin-bottom: 10px;
        }

    }

    .about {
        text-align: center;
        max-width: 480px;
        margin: 10px auto auto;

        img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin-bottom: 10px;
        }
    }

    .content-box {
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .contact-title,
    .copyright {
        display: none;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .content-box {
        padding: 10px;
    }

    .post {
        width: 98%;
        max-width: 100%;
        margin: 4% 2%;
        flex-direction: column;
        box-shadow: 0px 1px 10px 0px rgba(31, 35, 46, 15%);

        &:hover {
            transform: none;
        }

        .post-thumbnail {
            width: 100%;
        }

        .post-content {
            width: 100%;

            .post-title-cs {
                margin: 0 0 5px;

                a {
                    font-size: 21px;
                }
            }
        }
    }
}
