---
layout: compress
tags: [portfolio]
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}



{% if site.paginate %}
    {% assign posts = paginator.posts | where_exp:"post","post.is_generated != true" %}
{% else %}
    {% assign posts = site.posts | where_exp:"post","post.is_generated != true" %}
{% endif %}

{% if site.show_hero and paginator == nil or paginator.page == 1 %}
    {% assign offset = 1 %}
{% else %}
    {% assign offset = 0 %}
{% endif %}
<main class="home {% if site.show_hero and paginator == nil or paginator.page == 1 %}no-padding{% endif %}" role="main">
    {% if site.show_hero and paginator == nil or paginator.page == 1 %}
    <!-- Hero -->
    {% for post in posts %}
    {% if post.hero %}
    {% assign featured = post %}
    {% endif %}
    {% endfor %}
    <section class="hero" style="background-image: url({{ featured.image }})">
        <div class="pixels"></div>
        <div class="gradient"></div>
        <div class="content-art">
            <h1 class="title-art">{{ featured.title }}</h1>
            <p class="description-art">{{ featured.subtitle }}</p>
        </div>
    </section>
    {% endif %}
    <!-- Posts -->
    <section id="grid" class="row flex-grid" style="background-image: url({{site.background2}})">
        {% for post in site.posts %}
        {% if post.path contains 'art' %}
        {% unless post.hero %}
            <article class="box-item">
                <span class="category">
                    <a href="{{ site.baseurl }}/{{ site.categories_folder | default: 'category' }}/{{ post.category }}">
                        <span>{{ post.category }}</span>
                    </a>
                </span>
                <div class="box-body">
                    <a class="cover" href="{{ post.url | prepend: site.baseurl }}">
                        {% if post.optimized_image %}
                            <img src="{{ post.optimized_image }}" width="100%" data-url="{{ post.optimized_image }}" class="preload">
                        {% elsif post.image %}
                            <img src="{{ post.image }}" width="100%" data-url="{{ post.image }}" class="preload">
                        {% else %}
                            <img src="/assets/img/off.jpg" width="100%" data-url="/assets/img/off.jpg" class="preload">
                        {% endif %}
                    </a>
                    <div class="box-info">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                        </a>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            <p class="description">{{ post.description }}</p>
                        </a>
                        <div class="tags">
                            {% for tag in post.tags %}
                                {% if tag != "" %}
                                    <a href="{{ site.baseurl}}/tags/#{{tag | slugify }}">#{{ tag }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
        {% endunless %}
        {% endif %}
        {% endfor %}
    </section>
    <!-- Pagination -->
    {% if site.paginate %}
        {% include pagination-home.html %}
    {% endif %}
</main>

    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>